.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
  width: 100%;
}

.main, .content{
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade{
  opacity: 0;
}

.pannel{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 3rem;
  font-family: var(--font-title);
}

.content{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.ul{
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20%;
  align-items: center;
}

.social{
  margin: 10%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.li_soc{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a_soc{
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CDB4DB;
  border-radius: 100%;
}

.a_soc:hover{
  transform: scale(1.4);
  background-color: #A2D2FF;
}

.li{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
  align-items: center;
}


.button{
  text-decoration: none;
  width: 80%;
  height: 50px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CDB4DB;
  border-radius: 50px;
  box-shadow: 3px 3px #bc8ed6;
  font-weight: 900;
  cursor: pointer;
  color: #000;
  font-family: var(--font-body);
  font-weight: 900;
  font-size: 1rem;
}

.figure{
  clip-path: circle(50% at 50% 50%);
  filter: drop-shadow(0 0 10px #A2D2FF);
}

.button:hover{
  background-color: #BDE0FE;
  box-shadow: 3px 3px #A2D2FF;
  transform: scale(1.05);
}

.icon{
  font-size: 1.7rem;
  margin-right: 7px;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}
